# CONFIG_ADXL372_SPI is not set
# CONFIG_ADXL372_I2C is not set
# CONFIG_BMC150_ACCEL is not set
# CONFIG_DA280 is not set
# CONFIG_DA311 is not set
# CONFIG_DMARD10 is not set
# CONFIG_HID_SENSOR_ACCEL_3D is not set
# CONFIG_IIO_ST_ACCEL_3AXIS is not set
# CONFIG_KXCJK1013 is not set
# CONFIG_MMA7660 is not set
# CONFIG_MXC4005 is not set
# CONFIG_MXC6255 is not set
# CONFIG_SCA3300 is not set
# CONFIG_AD7124 is not set
# CONFIG_AD7292 is not set
# CONFIG_AD7766 is not set
# CONFIG_AD7949 is not set
# CONFIG_AXP288_ADC is not set
# CONFIG_MAX1241 is not set
# CONFIG_MAX1363 is not set
# CONFIG_MCP3911 is not set
# CONFIG_TI_ADC128S052 is not set
# CONFIG_TI_ADS1015 is not set
# CONFIG_TI_ADS131E08 is not set
# CONFIG_TI_TSC2046 is not set
# CONFIG_HMC425 is not set
# CONFIG_BME680 is not set
# CONFIG_PMS7003 is not set
# CONFIG_SCD30_CORE is not set
# CONFIG_AD5766 is not set
# CONFIG_AD5770R is not set
# CONFIG_LTC1660 is not set
# CONFIG_TI_DAC7311 is not set
# CONFIG_ADXRS290 is not set
# CONFIG_BMG160 is not set
# CONFIG_FXAS21002C is not set
# CONFIG_HID_SENSOR_GYRO_3D is not set
# CONFIG_MPU3050_I2C is not set
# CONFIG_IIO_ST_GYRO_3AXIS is not set
# CONFIG_MAX30100 is not set
# CONFIG_DHT11 is not set
# CONFIG_HDC2010 is not set
# CONFIG_HID_SENSOR_HUMIDITY is not set
# CONFIG_HTS221 is not set
# CONFIG_ADIS16475 is not set
# CONFIG_FXOS8700_I2C is not set
# CONFIG_FXOS8700_SPI is not set
# CONFIG_INV_ICM42600_I2C is not set
# CONFIG_INV_ICM42600_SPI is not set
# CONFIG_INV_MPU6050_I2C is not set
# CONFIG_IIO_ST_LSM6DSX is not set
# CONFIG_ADUX1020 is not set
# CONFIG_AL3010 is not set
# CONFIG_BH1750 is not set
# CONFIG_CM32181 is not set
# CONFIG_GP2AP002 is not set
# CONFIG_RPR0521 is not set
# CONFIG_LTR501 is not set
# CONFIG_LV0104CS is not set
# CONFIG_MAX44009 is not set
# CONFIG_OPT3001 is not set
# CONFIG_PA12203001 is not set
# CONFIG_STK3310 is not set
# CONFIG_ST_UVIS25 is not set
# CONFIG_TSL2772 is not set
# CONFIG_VCNL4035 is not set
# CONFIG_VEML6030 is not set
# CONFIG_VL6180 is not set
# CONFIG_ZOPT2201 is not set
# CONFIG_AK8975 is not set
# CONFIG_BMC150_MAGN_I2C is not set
# CONFIG_HID_SENSOR_MAGNETOMETER_3D is not set
# CONFIG_IIO_ST_MAGN_3AXIS is not set
# CONFIG_SENSORS_RM3100_I2C is not set
# CONFIG_SENSORS_RM3100_SPI is not set
# CONFIG_HID_SENSOR_INCLINOMETER_3D is not set
# CONFIG_HID_SENSOR_DEVICE_ROTATION is not set
# CONFIG_AD5110 is not set
# CONFIG_AD5272 is not set
# CONFIG_MCP4018 is not set
# CONFIG_MCP41010 is not set
# CONFIG_LMP91000 is not set
# CONFIG_ABP060MG is not set
# CONFIG_BMP280 is not set
# CONFIG_ICP10100 is not set
# CONFIG_MPL115_I2C is not set
# CONFIG_MB1232 is not set
# CONFIG_SX9310 is not set
# CONFIG_VCNL3020 is not set
# CONFIG_VL53L0X_I2C is not set
